# Carpetas
__pycache__
.venv
.vscode
torch_cache
config_files
data
error_logs
.Rproj.user

# Extensiones de archivos
*.csv
*.json
*.jpg
*.parquet
*.json.gzip
*.json.gz
*.jsonl
*.jsonl.gz
*.Rhistory
*.exe