# Carpetas
__pycache__
.venv
.vscode
torch_cache
data
error_logs
.Rproj.user
.env
wandb
catboost_info
models

# Extensiones de archivos
*.csv
*.json
*.jpg
*.parquet
*.json.gzip
*.json.gz
*.jsonl
*.jsonl.gz
*.Rhistory
*.exe
*.pkl
*.png

# Archivos concretos
test.py
test.ipynb
xgboost_final.py
