# Carpetas
__pycache__
.venv
.vscode
torch_cache
.Rproj.user

# Extensiones de archivos
*.csv
*.json
*.jpg
*.parquet
*.json.gzip
*.json.gz
*.jsonl
*.Rhistory

# Archivos concretos
config_rango.txt
fallos.txt
mc.exe
