# Fichero para instalar las librerías del proyecto ejecutando: pip install -r requirements.txt

requests
beautifulsoup4
lxml
google-api-python-client

# Para análisis de Imágenes
torch
torchvision
pillow